body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: grey;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    padding: 40px;
}

img {
    display: flex;
    justify-content: center;
    max-width: 25%;
    height: auto;
    display: block;
    margin: 0 auto
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
